<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FlexEdit.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
  </startup>
  <appSettings>
    <add key="EnableWindowsFormsHighDpiAutoResizing" value="true"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <userSettings>
    <FlexEdit.Settings>
      <setting name="FlexUserDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="Annotation1" serializeAs="String">
        <value>Strength,Dexerity,Stamina,Charisma,Perception,Intelligent,Level,HP,Humanity,Score,hp of doctor matt,Body infection,Head infection,Skin infection,Tail infection,Genital Infection,SatisfiedTanuki,hospquest,Cocks (Number of cocks),Breasts (Number of breast),Cunts (Number of cunts),Breast Size,Cock Length,Cock Width (Also affects cum and ball size),Cunt Length,Cunt Width,Equipped Weapon,franksex,frankmalesex,Snow special (annote),REMOVED (value always 0),Coleen special (annote),coleentalk,coleenfound,coleencollared,coleenalpha,coleenslut,coleenspray,hp of doctor mouse,coonstatus,featunlock,butterflymagic? wth is this,catnum,mateable,gryphoncomforted,shiftable,medeaget,mtp,hyg,nes,mtrp,boristalk,borisquest,progress of alex,angiehappy,angietalk,deerconsent,hp  of Susan,mattcollection</value>
      </setting>
      <setting name="RawEditsEnable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MakeBackupsOnSave" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FlexBoot" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AutoupdatePref" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Supported_SWVersion" serializeAs="String">
        <value />
      </setting>
      <setting name="HandlingInstructions_StringLimit1" serializeAs="String">
        <value />
      </setting>
      <setting name="HandlingInstructions_StringLimit2" serializeAs="String">
        <value />
      </setting>
      <setting name="HandlingInstructions_StringLimit3" serializeAs="String">
        <value />
      </setting>
      <setting name="HandlingInstructions_StringLimit4" serializeAs="String">
        <value />
      </setting>
      <setting name="xAnnote1" serializeAs="String">
        <value />
      </setting>
      <setting name="xAnnote2" serializeAs="String">
        <value />
      </setting>
      <setting name="xAnnote3" serializeAs="String">
        <value />
      </setting>
    </FlexEdit.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
